<header>
  <img class="logo-principal" src="../assets/img/logoPrincipal.png">
 <nav class="header-container">
  <ul>
    <li><a class="itens" href="/src/app/item-resumo/item-resumo.component.html">Home</a></li>
    <li><a href="/src/app/lista-desejos/lista-desejos.component.html">lista de desejos</a></li>
    <li><a href="/src/app/item-promocao/item-promocao.component.html">promoçoes</a></li>
  </ul>
</nav>
</header>
<app-item-resumo></app-item-resumo>
<footer>
  <img class="logo" src="../../assets/img/logo2.png">
</footer>