<div class="promocao">
    <h2>ITENS DO FESTIVAL</h2>
    <div class="bases">
        <div class="produtos">
            <div class="produto">
                <h3>Base CoverUP</h3>
                <img src="../../assets/img/catalogo/baseMM.png" class="foto-produto">
                <p class="valor"><strong> R$ 39,20</strong></p>
            </div>
            <div class="produto">
                <h3>Base BT Skin</h3>
                <img src="../../assets/img/catalogo/baseBT.png" class="foto-produto">
                <p class="valor"> <strong>R$ 69,90</strong></p>
            </div>
            <div class="produto">
                <h3>Base Melu</h3>
                <img src="../../assets/img/catalogo/baseRR.png" class="foto-produto">
                <p class="valor"><strong> R$ 24,90</strong></p>
            </div>
            <div class="produto">
                <h3>Base Beauty Perfect</h3>
                <img src="../../assets/img/catalogo/baseBR.png" class="foto-produto">
                <p class="valor"><strong> R$ 38,64</strong></p>
            </div>
        </div>
    </div>
    <div class="batons">
        <div class="produtos">
            <div class="produto">
                <h3>Paleta Afrodite</h3>
                <img src="../../assets/img/catalogo/paletaMM.png" class="foto-produto">
                <p class="valor"><strong> R$ 174,00</strong></p>
            </div>
            <div class="produto">
                <h3>Paleta Red Rose</h3>
                <img src="../../assets/img/catalogo/paletaBT.png"  class="foto-produto">
                <p class="valor"> <strong>R$ 159,90</strong></p>
            </div>
            <div class="produto">
                <h3>Paleta Shine Black</h3>
                <img src="../../assets/img/catalogo/paletaRR.png"  class="foto-produto">
                <p class="valor"><strong> R$ 65,90</strong></p>
            </div>
            <div class="produto">
                <h3>Paleta BY Payot</h3>
                <img src="../../assets/img/catalogo/paletaBR.png"  class="foto-produto">
                <p class="valor"><strong> R$ 109,90</strong></p>
            </div>
        </div>
    </div>
    <div class="paletas">
        <div class="produtos">
            <div class="produto">
                <h3>Batom Creamy Matte</h3>
                <img src="../../assets/img/catalogo/batomMM.png"  class="foto-produto">
                <p class="valor"><strong> R$ 33,90</strong></p>
            </div>
            <div class="produto">
                <h3>Bartom BT Plush</h3>
                <img src="../../assets/img/catalogo/batomBT.png"  class="foto-produto">
                <p class="valor"> <strong>R$ 48,90</strong></p>
            </div>
            <div class="produto">
                <h3>Batom Mood</h3>
                <img src="../../assets/img/catalogo/batomRR.png"  class="foto-produto">
                <p class="valor"><strong> R$ 23,30</strong></p>
            </div>
            <div class="produto">
                <h3>Batom Liquide matte</h3>
                <img src="../../assets/img/catalogo/batomBR.png" class="foto-produto">
                <p class="valor"><strong> R$ 39,50</strong></p>
            </div>
        </div>
    </div>

</div>
